<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="dist/img/logo.png" />
    <title>Pendataan Siswa Magang</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css" />
    <style>
      body {
        font-family: "Quicksand", sans-serif;
      }
    </style>
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />
    <!-- DataTables -->
    <link
      rel="stylesheet"
      href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="plugins/datatables-buttons/css/buttons.bootstrap4.min.css"
    />
    <!-- Toastr -->
    <link rel="stylesheet" href="plugins/toastr/toastr.min.css" />
    <!-- SweetAlert2 -->
    <link
      rel="stylesheet"
      href="plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css"
    />
    <!-- Select2 -->
    <link rel="stylesheet" href="plugins/select2/css/select2.min.css" />
    <link
      rel="stylesheet"
      href="plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"
    />
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="d-none" id="pesan-peringatan" data-berhasil="<%= berhasil %>" data-gagal="<%= gagal %>"></div>
    <div class="wrapper">
      <!-- Preloader -->
      <div
        class="preloader flex-column justify-content-center align-items-center"
      >
        <img
          class="animation__shake"
          src="dist/img/logo.png"
          alt="PendataanLogo"
          height="100"
          width="100"
        />
      </div>

      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" role="button" href="#"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" role="button" href="#">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>
          <!-- Akun Dropdown Menu -->
          <li class="nav-item dropdown ml-0">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <span class="text-capitalize font-weight-bold"><%= nama %></span>
              <i class="far fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-item dropdown-header disabled"
                >Pengaturan Akun</span
              >
              <div class="dropdown-divider"></div>
              <span class="dropdown-item disabled"> Email : <%= email %></span>
              <div class="dropdown-divider"></div>
              <span class="dropdown-item disabled">
                Password : <%= password %>
              </span>
              <div class="dropdown-divider"></div>
              <a href="/keluar" class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i>
                Keluar
              </a>
              <div class="dropdown-divider"></div>
              <button
                type="button"
                class="dropdown-item dropdown-footer"
                data-toggle="modal"
                data-target="#modal_ubah"
              >
                Ubah Akun
              </button>
            </div>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-light-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/admin" class="brand-link">
          <img
            src="dist/img/logo.png"
            alt="Pendataan Siswa Magang Logo"
            class="brand-image"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-bold text-sm"
            >Pendataan Siswa Magang</span
          >
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <li class="nav-item">
                <a
                  href="/admin"
                  class="nav-link <%= activePage === 'admin' ? 'active' : '' %>"
                >
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="/pembimbing"
                  class="nav-link <%= activePage === 'pembimbing' ? 'active' : '' %>"
                >
                  <i class="nav-icon fas fa-user"></i>
                  <p>Menu Pembimbing</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="/ruangan"
                  class="nav-link <%= activePage === 'ruangan' ? 'active' : '' %>"
                >
                  <i class="nav-icon fas fa-laptop-house"></i>
                  <p>Menu Ruangan</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="/sekolah"
                  class="nav-link <%= activePage === 'sekolah' ? 'active' : '' %>"
                >
                  <i class="nav-icon fas fa-school"></i>
                  <p>Menu Sekolah</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="/siswa"
                  class="nav-link <%= activePage === 'siswa' ? 'active' : '' %>"
                >
                  <i class="nav-icon fas fa-id-card"></i>
                  <p>Menu Siswa</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="/laporan"
                  class="nav-link <%= activePage === 'laporan' ? 'active' : '' %>"
                >
                  <i class="nav-icon fas fa-folder-open"></i>
                  <p>Menu Laporan</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="/cetak_sertifikat"
                  class="nav-link <%= activePage === 'cetak_sertifikat' ? 'active' : '' %>"
                >
                  <i class="nav-icon fas fa-print"></i>
                  <p>Cetak Laporan</p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0"><%= halaman %></h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                  <li class="breadcrumb-item active"><%= halaman %></li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content"><%- body %></section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer text-center">
        <strong
          >Copyright &copy; 2023-2024
          <a href="https://lanamaou.github.io">Ahmad Maulana Alaudin</a
          >.</strong
        >
        All rights reserved.
      </footer>

      <div
        class="modal fade"
        id="modal_ubah"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ubah Akun</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/ubah-akun?_method=PUT" method="post">
              <div class="modal-body">
                <div class="form-group">
                  <input
                    type="hidden"
                    value="<%= activePage %>"
                    name="redirect"
                  />
                  <input
                    type="hidden"
                    value="<%= id_login %>"
                    name="id_login"
                  />
                  <input type="hidden" value="<%= email %>" name="oldEmail" />
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Masukan Email"
                    name="email"
                    required
                    value="<%= email %>"
                  />
                  <label for="nama">Password</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Masukan Password"
                    name="password"
                    required
                    value="<%= password %>"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-secondary">
                  Atur Ulang
                </button>
                <button type="submit" class="btn btn-primary">Ubah</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge("uibutton", $.ui.button);
    </script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="plugins/jszip/jszip.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboard.js"></script>
    <!-- Toast -->
    <script src="plugins/toastr/toastr.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Select2 -->
    <script src="plugins/select2/js/select2.full.min.js"></script>

    <script>
      bsCustomFileInput.init();
    </script>

    <!-- My Javascript -->
    <script src="utils_view/admin_view.js"></script>
  </body>
</html>
