<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title text-lg">Data Laporan</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTables" class="table-bordered table-striped table">
            <thead>
              <tr>
                <th>No</th>
                <th>Nis</th>
                <th>Nama</th>
                <th>Nilai</th>
                <th>Grade</th>
                <th width="150px">Opsi</th>
              </tr>
            </thead>
            <tbody>
              <% data_laporan.forEach((data, no) => {no++ %>
              <tr>
                <td><%= no %></td>
                <td><%= data.nis %></td>
                <td><%= data.nama_siswa %></td>
                <td><%= data.nilai %></td>
                <td><%= data.grade%></td>
                <td class="text-center">
                  <form action="/cetak_sertifikat" method="post">
                    <input
                      type="hidden"
                      name="nama_siswa"
                      value="<%= data.nama_siswa %>"
                    />
                    <button class="btn btn-success" type="submit">
                      <i class="nav-icon fas fa-print"></i>
                      Cetak Sertifikat
                    </button>
                  </form>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>